<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	  
<!-- head 부분 -->
<head th:fragment="headFragment">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title th:text="${title}"></title>
	<link rel="shortcut icon" type="image/png" th:href="@{/assets/images/logos/favicon.png}" />
	<link rel="stylesheet" th:href="@{/assets/css/styles.min.css}" />
	
	<!-- 사용자 CSS -->
	<th:block layout:fragment="customCss"></th:block>
	
	<!-- 사용자 TITLE -->
	<th:block layout:fragment="customTitle"></th:block>
	
	<!-- 사용자 Script -->
	<th:block layout:fragment="customScript"></th:block>
</head>

</html>